body, .paper {
    margin: 0 auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 14px;
    color: black;
    background-image: url(images/lined-paper-2.png);
    background-color: rgb(233, 233, 233);
}

body, .chalk {
    margin: 0 auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    font-size: 14px;
    color: white;
    background-image: url(images/concrete-wall-2.png);
    background-color: rgb(36, 36, 36);
}

header {
    margin-top: 0.857em;
    margin-bottom: 0.714em;
}

h1 {
    font-weight: bolder;
    letter-spacing: 0.143em;
    margin-bottom: 1.429em;
}

.instructions-div {
    text-align: right;
    padding-right: 5em;
}

.Timer {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: left;
    padding-left: 3em;
}

.man {
    text-align: right;
    padding-top: 2em;
    padding-right: 4em;
}

/*Modal styling taken from https://www.w3schools.com/howto/howto_css_modals.asp*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1.429em;
    border: 0.071em solid rgb(0, 0, 0);
    width: 75%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.929em;
}

.modal-content-game-over {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 1.429em;
    border: 0.071em solid rgb(0, 0, 0);
    width: 25%;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.929em;
}

.close, .game-over {
    color: #aaa;
    float: right;
    font-size: 2.000em;
    font-weight: bold;
}

.close:hover, .close:focus, .game-over:hover, .game-over:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 0.143em 1.143em;
}

.modal-body {
    padding: 0.714em 1.143em 0.143em 1.143em;
}

.assigner {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.instructions {
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 0.071em;
    font-size: 1.429em;
    margin-left: 0em;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

.one {
    margin-top: 1.5em;
    margin-bottom: 0em;
    font-weight: bold;
}

.three {
    margin-top: 1.429em;
    font-weight: bold;
    margin-bottom: 0em;
}

.word {
    margin-top: 2.2em;
}

input {
    padding: 0 0 0 0.357em;
    font-family: 'Open Sans', sans-serif;
}

.button {
    font-family: 'Shadows Into Light', cursive;
    font-weight: bold;
    letter-spacing: 0.071em;
}

.guesser {
    display: none;
    text-align: left;
    padding-top: 1em;
}

.word-cells-main {
    margin-top: 0.714em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: auto;
    padding-top: 1.429em;
    width: 60%;
    text-align: center;
}

.paper-word-letter {
    width: 1.286em;
    text-align: center;
    display: inline-block;
    margin: 0em 0.357em;
    font-size: 1.786em;
    font-weight: bold;
    color: black;
    border-bottom: 0.125em solid black;
    vertical-align: bottom;
}

.chalk-word-letter {
    width: 1.286em;
    text-align: center;
    display: inline-block;
    margin: 0em 0.357em;
    font-size: 1.786em;
    font-weight: bold;
    color: white;
    border-bottom: 0.125em solid white;
    vertical-align: bottom;
}

.guessed-header {
    font-weight: bold;
    margin-top: 1em;
    margin-left: 0em;
    margin-right: auto;
    width: 60%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.guessed {
    font-size: 1.429em;
    letter-spacing: 0.071em;
    margin-bottom: 1.429em;
    margin-left: 0em;
    margin-right: auto;
    width: 60%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    visibility: hidden;
}

.input {
    margin-left: 0em;
    margin-right: auto;
    width: 60%;
    text-align: center;
}

footer {
    padding-top: 1em;
    margin-bottom: 1.786em;
    font-size: 1.143em;
    font-weight: bold;
    letter-spacing: 0.143em;
}

.themes {
    display: inline-block;
}

strong {
    font-size: 1.429em;
}

@media screen and (max-width: 900px) {
    .word {
        margin-top: 2.5em;
    }
    .instructions {
        font-size: 1.25em;
        width: 100%;
    }
    .word-cells-main {
        width: 100%;
    }
    .word-letter {
        width: 1em;
        font-size: 1.25em;
    }
    .guessed-header {
        margin-left: 0em;
        margin-right: auto;
        width: 100%;
    }
    .guessed {
        font-size: 1.25em;
        text-align: center;
        width: 100%;
    }
    .input {
        width: 100%;
        text-align: center;
    }
    .modal-content-game-over {
        width: 50%;
    }
}

@media screen and (max-width: 500px) {
    header {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
    h1 {
        letter-spacing: 0.143em;
        margin-bottom: .85em;
        font-size: 2em;
    }
    .instructions-div {
        text-align: center;
        padding-right: 0;
    }
    .Timer {
        font-size: 2em;
        text-align: center;
        padding-left: 0;
    }
    .man {
        text-align: center;
        padding-top: 0em;
        padding-right: 0em;
    }
    img {
        height: 12em;
    }
    .instructions {
        font-size: 1.2em;
        margin-left: auto;
        width: 90%;
    }
    .word {
        margin-top: 2em;
    }
    .guesser {
        text-align: center;
    }
    .word-cells-main {
        margin-left: auto;
        width: 100%;
    }
    .word-letter {
        font-size: 1.5em;
    }
    .guessed-header {
        margin-left: auto;
        width: 100%;
    }
    .guessed {
        font-size: 1.25em;
        margin-left: auto;
        width: 100%;
    }
    .input {
        margin-left: auto;
    }
    .modal-content-game-over {
        width: 75%;
    }
}