body {
    margin: 0 auto;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background: white;
}

header {
    margin-bottom: 20px;
}

.instructions {
    display: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

li {
    display: inline;
    margin: 0 auto;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

.word-letter {
    width: 15px;
    text-align: center;
    display: inline-block;
    visibility: hidden;
    margin: 0px 5px;
    font-size: 25px;
}

.word-underline {
    width: 15px;
    text-align: center;
    display: inline-block;
    border-top: 2px solid black;
    margin: 0px 5px;
}

.player-one {
    text-align: center;
}

.player-one-instructions {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.player-two {
    display: none;
    text-align: center;
}

.guessed-header {
    font-weight: bold;
}

.guessed {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

.player-two-instructions {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

footer {
    margin-bottom: 20px;
}